<%= stylesheet_link_tag 'application' %>

<h1>Stupid coaching</h1>

<div >
<form action="answer" data-turbo="false" class="form-control w-50" placeholder="Enter your text">
    <input type="text" name="ask" placeholder="Enter your text">
    <input type="submit" value="Ask!">
</form>
</div>

